[Runtime]
Debug = true

[App]
Domain = https://domain.com
AuthorizeURL = https://login.microsoftonline.com/common/oauth2/v2.0/authorize
TokenURL = https://login.microsoftonline.com/common/oauth2/v2.0/token
ClientID = fake
ClientSecret = fake
TenantID = fake
Scope = offline_access User.ReadWrite.All Directory.ReadWrite.All Directory.AccessAsUser.All

[Api]
AccessKey = fake
AccessSecret = fake123
