[Unit]
Description=Microsoft Online RESTful API
Documentation=https://github.com/damonto/msonline

[Service]
WorkingDirectory=/usr/local/bin
Restart=on-failure
Environment=GIN_MODE=release
ExecStart=/usr/local/bin/msonline serve --conf ~/.config/msonline.toml
ExecReload=/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=multi-user.target
